.address-wrapper {
  width: 100%;

  .heading {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
  }
  .inner {
    .new {
      .add-address {
        background-color: rgb(255, 255, 255);
        font-size: 15px;
        height: 60px;
        border: 1px dashed rgb(216, 216, 216);
        margin: 0px 0px 10px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        svg {
          color: rgb(120, 120, 120);
          font-size: 28px;
          margin: 0px 20px;
        }
      }
    }
    .item {
      background-color: rgb(255, 255, 255);
      padding: 17px;
      border-radius: 4px;
      margin: 0px 0px 10px;
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      font-size: 13px;
      line-height: 19px;
      .info {
        .name {
          text-transform: uppercase;
          margin: 0px 0px 10px;
          .default-address {
            font-size: 12px;
            margin: 0px 0px 0px 15px;
            display: inline-block;
            -webkit-box-align: center;
            align-items: center;
            color: rgb(38, 188, 78);
            text-transform: none;
            svg {
              display: inline-block;
              vertical-align: middle;
              position: relative;
              top: -1px;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              margin: 0px 0px 0px 5px;
            }
          }
        }
        .address {
          margin: 0px 0px 5px;
          span {
            color: rgb(120, 120, 120);
          }
        }
        .phone {
          span {
            color: rgb(120, 120, 120);
          }
        }
      }
      .action {
        .edit {
          font-size: 14px;
          color: rgb(27, 168, 255);
          display: inline-block;
          padding: 6px 12px;
        }
      }
    }
  }
}
