// .product-wrapper {
//   margin: auto;
//   display: flex;
//   flex-direction: column;
//   background: yellow;
//   padding: 0px 16px;
//   border-color: red;
//   border-width: 10px;
.container {
  margin: 0px 40px;
  padding: 0px 10px 14px;
  display: flex;
  flex-direction: column;
  .breadcrum {
    align-items: center;
    display: flex;
  }
  .info-container {
    display: grid;
    gap: 24px;
    grid-template-columns: 14fr 5fr;
    grid-template-rows: auto;

    .info-container-left-body {
      flex-direction: column;
      gap: 16px;
      display: flex;
      position: relative;
      .product-info {
        gap: 24px;
        display: grid;
        grid-template-columns: 50fr 73fr;
        .left-side {
          display: flex;
          flex-direction: column;
          .review-images {
            background: white;
            position: sticky;
            top: 12px;
            gap: 16px;
          }
        }

        .main-info {
          display: flex;
          flex-direction: column;
          gap: 16px;
          .brand-author {
            align-items: center;
            color: #27272a;
            display: flex;
            font-size: 14px;
            gap: 8px;
            line-height: 21px;
          }
          .titledstyled {
            color: #27272a;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
              sans-serif;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
          }
          .ratingstyled {
            align-items: center;
            color: #27272a;
            display: flex;
            font-size: 14px;
            gap: 8px;
            line-height: 21px;
          }
          .product-price {
            align-items: center;
            color: #27272a;
            display: flex;
            flex-direction: row;
            font-size: 14px;
            gap: 8px;
            line-height: 21px;
            .current-price {
              color: #27272a;
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
            }
            .discount-rate {
              background-color: #f5f5fa;
              border-radius: 8px;
              color: #27272a;
              font-size: 12px;
              line-height: 18px;
              padding: 0px 4px;
            }
          }
        }
      }
      .product-reviews {
        display: block;
      }
    }

    .info-container-right-body {
      flex-direction: column;
      display: flex;
      .right-container {
        position: sticky;
        top: 12px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
        .buy-box-header {
        }
        .add-to-cart {
          display: flex;
          flex-direction: column;
          font-size: 14px;
          gap: 16px;
          line-height: 16.1px;
          .group-input {
            align-items: center;
            display: flex;
            font-size: 14px;
            line-height: 16.1px;
          }
        }
      }
    }
  }
}
