.homepage-wrapper {
  width: 100%;
  .homepage-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    .homepage-content {
      gap: 16px;
      display: flex;
      flex-direction: column;
      .homepage-banner,
      .selling-products,
      .standout-brands,
      .may-like-products,
      .interested-product {
        padding: 16px;
        background-color: var(--white-color);
        border-radius: 8px;
        .section-heading {
          color: #27272a;
          display: -webkit-box;
          font-weight: 600;
          line-height: 24px;
          padding-bottom: 14px;
          font-size: 1.7rem;
        }
      }
    }
    .moreBtn {
      align-self: center;
      padding: 8px 12px;
      border-radius: 8px;
      margin: 12px 0;
      color: var(--primary);
      width: 240px;
      justify-content: center;
      border: 1px solid var(--primary);
      display: flex;
      align-items: center;
    }
  }
  .tiki-chatgpt-service {
    border: 0px;
    width: 696px;
    height: calc(100% - 112px);
    position: fixed;
    z-index: 9999;
    right: 112px;
    bottom: 24px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    overflow: hidden;
    display: block;
  }
  .tiki-chatgpt-service::after {
    content: "";
    position: absolute;
    bottom: 120px;
    right: -12px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 13px solid white;
    z-index: 9999;
  }
  .conversation-service {
    border: 0px;
    width: 712px;
    height: 588px;
    max-height: calc(100% - 112px);
    position: fixed;
    z-index: 9999;
    right: 112px;
    bottom: 24px;
    box-shadow: rgba(40, 40, 43, 0.16) 0px 2px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    overflow: hidden;
  }
}
