// .modal-dialog {
//   max-width: 1200px;
//   margin: 1.75rem auto;
// }

// .modal-overlay {
//   // position: fixed;
//   // inset: 0px;
//   // background: rgba(0, 0, 0, 0.53);
//   // overflow-y: scroll;
//   // z-index: 1000;
// }
// .modal-content {
//   .modal-signup {
//     // position: relative;
//     // inset: 0px;
//     // border: none;
//     // background: rgb(255, 255, 255);
//     // overflow: unset;
//     // border-radius: 20px;
//     // outline: none;
//     // padding: 0px;
//     // width: 800px;
//     // margin: 80px auto;
//     .singup-modal-wrapper {
//       background: rgb(248, 248, 248);
//       display: flex;
//       width: 100%;
//       border-radius: 20px;
//       position: relative;
//       .btn-close {
//         position: absolute;
//         right: -8px;
//         top: -8px;
//         width: 42px;
//         height: 42px;
//         background: none;
//         border: none;
//         cursor: pointer;
//         img {
//           max-width: 100%;
//           position: absolute;
//           right: -8px;
//           top: -8px;
//           width: 42px;
//           height: 42px;
//           background: none;
//           border: none;
//         }
//       }
//       .modal-left-content {
//         width: 500px;
//         padding: 40px 45px 24px;
//         background: rgb(255, 255, 255);
//         border-radius: 20px 0px 0px 20px;
//         .heading {
//           margin-bottom: 20px;
//           h4 {
//             margin: 0px 0px 10px;
//             font-size: 24px;
//             font-weight: 500;
//           }
//           p {
//             margin: 0px;
//             font-size: 15px;
//           }
//         }
//         form {
//           .input {
//             position: relative;
//             z-index: 1;
//             input {
//               width: 100%;
//               padding: 10px 0px;
//               border: none;
//               font-size: 24px;
//               color: rgb(36, 36, 36);
//               outline: none;
//             }
//           }
//           .input::before {
//             content: "";
//             position: absolute;
//             left: 0px;
//             right: 0px;
//             bottom: 0px;
//             border-bottom: 1px solid rgb(224, 224, 224);
//           }
//           button {
//             margin: 30px 0px 10px;
//             outline: none;
//             border-radius: 4px;
//             background: rgb(255, 66, 78);
//             padding: 13px 0px;
//             width: 100%;
//             color: rgb(255, 255, 255);
//             border: none;
//             font-size: 20px;
//             cursor: pointer;
//           }
//         }
//         .login-with-email {
//           margin: 10px 0px 0px;
//           text-align: center;
//           color: rgb(13, 92, 182);
//           cursor: pointer;
//         }
//         .social-area {
//           text-align: center;
//           margin: 80px 0px 0px;
//           .social-heading {
//             margin: 0px 0px 15px;
//             position: relative;
//             span {
//               font-size: 15px;
//               color: rgb(120, 120, 120);
//               display: inline-block;
//               background: rgb(255, 255, 255);
//               padding: 0px 20px;
//               position: relative;
//               z-index: 2;
//             }
//           }
//           .social-heading::before {
//             content: "";
//             width: 100%;
//             height: 1px;
//             background: rgb(242, 242, 242);
//             position: absolute;
//             left: 0px;
//             top: 50%;
//             transform: translateY(-50%);
//             z-index: 1;
//           }
//           .social__items {
//             display: flex;
//             flex-direction: row;
//             padding: 0px;
//             margin: 0px 0px 10px;
//             list-style: none;
//             -webkit-box-align: center;
//             align-items: center;
//             -webkit-box-pack: center;
//             justify-content: center;
//             .social__item {
//               margin: 0px 10px;
//               img {
//                 width: 58px;
//               }
//             }
//             .note {
//               font-size: 12px;
//               color: rgb(120, 120, 120);
//               line-height: 16px;
//               text-align: start;
//               a {
//                 display: inline-block;
//                 text-decoration: underline;
//                 margin-left: 0px;
//                 font-size: 11px;
//                 color: rgb(120, 120, 120);
//               }
//             }
//           }
//         }
//       }
//       .modal-right-content {
//         background: linear-gradient(
//           136deg,
//           rgb(240, 248, 255) -1%,
//           rgb(219, 238, 255) 85%
//         );
//         width: 300px;
//         -webkit-box-align: center;
//         align-items: center;
//         -webkit-box-pack: center;
//         justify-content: center;
//         display: flex;
//         flex-direction: column;
//         border-radius: 0px 20px 20px 0px;
//         img {
//           max-width: 100%;
//           border-style: none;
//         }
//         .content {
//           margin: 30px 0px 0px;
//           text-align: center;
//           h4 {
//             margin: 0px 0px 5px;
//             color: rgb(11, 116, 229);
//             font-size: 17px;
//             font-weight: 500;
//           }
//           span {
//             font-size: 13px;
//             color: rgb(11, 116, 229);
//             font-weight: 500;
//           }
//         }
//       }
//     }
//   }
// }

.modal {
  position: fixed; /*Set position cho modal để modal__overlay có thể nằm đề lên trên modal (modal 
  có thể hiểu như là toàn bộ website và modal__overlay nằm đề lên đó)*/

  /*Set vị trí cho modal chiếm hết toàn bộ website để modal__overlay có thể nằm đề lên được toàn 
  bộ webstie*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*============================================================================================*/

  display: flex; /*flex cho con của modal để có thể kiểm soát vị trị của các con của modal bao gồm
  modal__overlay, modal__body*/
  /* Flex cho con */
  align-items: center;
  justify-content: center;
  animation: fadeIn linear 0.1s; /*Hiệu ứng xuất hiện ra của modal*/
  display: none;
  z-index: 1;
}

.modal.open {
  display: flex;
}

.auth-form.sigup-form.open {
  display: block;
}

.auth-form.login-form.open {
  display: block;
}

.modal__overlay {
  position: absolute; /*modal__overlay nằm đè lên modal*/
  /* mục đích của overlay là bao phủ hết toàn bộ website và làm background cho modal nên set chiều 
  ngang và chiều cao của modal__overlay bằng modal cũng như là bằng toàn bộ webstie*/
  width: 100%; /*Chiều ngang của modal__overlay bằng 100% chiều ngang của modal*/
  height: 100%; /*Chiều cao của modal__overlay bằng 100% chiều cao của modal*/
  background-color: rgba(0, 0, 0, 0.4); /*Màu cho overlay*/
}

.modal__body {
  /*Cập nhật biến cho keyframe growth*/
  --grow-from: 0.7;
  --grow-to: 1;
  /*========================*/
  z-index: 10; /*làm cho modal__body nổi lên trên modal__overlay, vì modal__overlay đang nằm ở
  layer cao hơn bình thường do tính chất của thuộc tính position, để làm được điều này có thể
  dùng position:relative, nhưng nên dùng z-index để dễ dàng di chuyển layer dù cho thẻ có được khai 
  báo trước hay sau đi chăng nữa thì khi có z-index cao hơn vẫn sẽ nằm ở layer cao hơn */
  animation: growth linear 0.1s; /*hiệu ứng xuất hiện của modal__body*/
}

.auth-form {
  width: 500px; /*Chiều ngang của cả auth-form*/
  border-radius: 5px; /*Bo góc*/
  background-color: var(--white-color); /*Màu auth-form*/
  /*Đã bo góc cho auth-form nhưng con của auth-form là auth-form socials không có bo góc và nó sẽ 
  "chọc" ra ngoài do auth-form social đang vượt quá auth-form, do đó thêm thuộc tính overflow:hidden 
  để khi có hiện tượng con của một class vượt quá class đó thì nó sẽ bị ẩn đi*/
  overflow: hidden;
  background-color: var(--white-color); /*Màu của auth-form*/
  border-radius: 5px; /*Bo góc auth-form*/
  display: none;
}

/*auth-form nên được tách ra thành 2 phần là auth-form__container và auth-form__socials vì padding của 
2 phần này là khác nhau*/

.auth-form__container {
  padding: 0 32px; /*Set padding cho phần auth-form__container*/
}

.auth-form__header {
  display: flex; /*flex lên con của class này là Đăng ký và đăng nhập*/
  align-items: center; /*cho các flex item nằm trên cùng một trục ngang*/
  justify-content: space-between; /*flex item xa nhau ra*/
  padding: 0 12px; /*padding cho phần header*/
  margin-top: 10px; /*tạo khoảng cách giữa phần header lên phía trên*/
}

.auth-form__heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--primary-color);
  font-weight: 400;
  cursor: pointer;
}

.auth-form__input {
  width: 100%; /*chiều ngang = 100% chiều ngang của cả auth-form*/
  height: 40px; /*chiều cao*/
  margin-top: 16px; /*Khoảng cách giữa các thẻ input cách các phần auth-form__header*/
  padding: 0 12px; /*padding chữ trong thẻ input*/
  font-size: 1.4rem; /*độ lớn chữ*/
  border: 1px solid var(--border-coler); /*boder của input*/
  border-radius: 2px; /*bo góc*/
  outline: none; /*Bỏ outline của input*/
}

/*Khi nháy vào input thì boder đổi màu, để làm được việc đó thì dùng psuedo class focus*/
.auth-form__input:focus {
  border-color: #888;
}

/*Phần bên dưới các thẻ input*/
.auth-form__aside {
  margin-top: 18px; /*Khoảng cách giữa phần chữ so với phần các thẻ input*/
}

.auth-form__policy-text {
  font-size: 1.2rem;
  line-height: 1.6rem; /*Giảm chiều cao của 1 dòng chữ xuống để 2 dòng cách nhau gần hơn     */
  text-align: center; /*Căn giữa các dòng chữ*/
  padding: 0 12px; /*Padding các dòng chữ vào*/
}

.auth-form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

/*auth-form__socials gồm 2 nút*/
.auth-form__controls {
  display: flex; /*flex lên 2 nút*/
  justify-content: flex-end; /*Đẩy 2 nút theo hướng flex-end*/
  margin-top: 80px; /*Khoảng cách giữa các nút với phần chữ bên trên*/
}

.auth-form__controls-back {
  margin-right: 8px; /*Tạo khoảng cách giữa nút back và nút register*/
}

/*auth-form__socials gồm 2 nút: Kết nối với Facebook và Kết nối với Google*/
.auth-form__socials {
  background-color: #f5f5f5; /*Màu background của phần socials*/
  display: flex; /*flex lên 2 nút*/
  justify-content: space-between; /*Đẩy 2 nút ra 2 đầu*/
  padding: 16px 36px; /*Tạo độ dày cho phần socials*/
  margin-top: 22px; /*Tạo khoảng cách giữa phần socials và phần controls  */
}

.auth-form__socials-icons {
  font-size: 1.8rem; /*Kích thước icon*/
}

.auth-form__socials--fb {
  color: var(--white-color); /*Màu chữ của phần FB*/
  background-color: #3a5a98; /*Màu background của phần FB*/
}

.auth-form__socials--gg {
  color: #666; /*Màu chữ của phần GG*/
  background-color: var(--white-color); /*Màu background của phần GG*/
}

.auth-form__socials--fb {
  color: var(--white-color); /*Màu chữ của phần FB và  */
}

.auth-form__socials-lable {
  margin: 0 28px; /*Tạo khoảng cách giữa icon và chữ*/
}

/*.auth-form__help gồm "Cần trợ giúp?" và "Quên mật khẩu"*/
.auth-form__help {
  display: flex; /*flex cho "Cần trợ giúp?" và "Quên mật khẩu"*/
  justify-content: flex-end; /*Đẩy về hướng flex-end*/
}

.auth-form__help-link {
  text-decoration: none; /*Bỏ gạch chân chữ*/
  font-size: 1.4rem;
  color: #939393; /*Màu chữ "Cần trợ giúp"*/
}

.auth-form__help-separate {
  display: block;
  border-left: 1px solid #eaeaea;
  height: 22px; /*Chiều cao dấu gạch đứng*/
  margin: -3px 16px 0; /*Tạo khoảng cách giữa dấu gạch đứng với 2 chữ*/
}

.auth-form__help-forgot {
  color: var(--primary-color); /*Overwrite màu chữ "Quên mật khẩu" */
}
