.checkout-wrapper {
  .checkout-container {
    width: 1270px;
    padding: 0 15px;
    margin: 0 auto;

    .checkout-heading {
      margin: 20px 0px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      flex-basis: calc(797px);
      h4 {
        font-size: 20px;
        font-weight: 400;
        color: rgb(0, 0, 0);
        line-height: 28px;
      }
    }

    .checkout-content {
      display: flex;
      margin: 0 auto;
      margin-bottom: auto;
      width: var(--base-width);
      gap: 20px;
      .left-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        .left-down-content,
        .product-item,
        .freeship-bar,
        .left-up-content {
          width: 100%;
          background: rgb(255, 255, 255);
          padding: 9px 16px;
          border-radius: 4px;
          color: var(--small-text-color);
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 12px;
          z-index: 99;
          display: grid;
          grid-template-columns: 398px 190px 130px 130px 30px;
          -webkit-box-align: center;
          align-items: center;
          .item {
            display: flex;
            align-items: center;
            .check-box {
              margin-right: 12px;
              width: 18px;
              height: 18px;
              cursor: pointer;
            }
            .lable-heading-cart {
              font-size: 1.4rem;
              line-height: 20px;
              display: inline-block;
              vertical-align: middle;
            }
          }
          .freeship-bar {
            display: flex;
            .progress-wrapper {
              height: 69px;
              position: relative;
              padding-right: 10px;
              display: flex;
              -webkit-box-align: center;
              align-items: center;
              .progress-bar {
                position: relative;
                display: flex;
                flex: 1 1 0%;
                -webkit-box-pack: justify;
                justify-content: space-between;
                .milestone {
                  position: relative;
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  -webkit-box-pack: center;
                  justify-content: center;
                  z-index: 2;
                  .milestone-info {
                    top: 9px;
                    background: none;
                    color: rgb(56, 56, 61);
                    font-size: 12px;
                    font-weight: 400;
                    left: 0px;
                  }
                }
              }
              .progress-bar::before {
                content: "";
                position: absolute;
                border-radius: 100px;
                width: 100%;
                height: 6px;
                transform: translateY(-50%);
                background: rgb(219, 238, 255);
                top: 50%;
                z-index: 0;
              }
            }
          }
          .deleteBtn {
            cursor: pointer;
          }
        }

        .left-down-content {
          display: flex;
          flex-direction: column;
          padding-bottom: 10px;
          padding-left: 0;
          align-items: flex-start;
          .tiki-trading {
            cursor: pointer;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            padding: 9px 15px;
            .item {
              .check-box {
                margin-right: 12px;
              }
              .shop-img {
                background-image: url("https://salt.tikicdn.com/ts/upload/30/24/79/8317b36e87e7c0920e33de0ab5c21b62.png");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width: 15px;
                height: 15px;
                margin-right: 5px;
              }
              .tiki-trading-heading {
                display: inline-block;
                font-size: 15px;
                color: var(--small-text-color);
                font-weight: 500;
                position: relative;
                top: 1px;
                font-weight: 700;
                margin-right: 5px;
              }
            }
          }

          .product-item {
            margin-bottom: 32px;
            padding: 0px 16px 3px;
            .item {
              .check-box {
                width: 18px;
                height: 18px;
              }
              .product-infor {
                display: flex;

                .product-img {
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                  width: 76px;
                  margin-right: 5px;
                }
                .product-title {
                  padding-left: 10px;
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  font-size: 13px;
                  color: var(--small-text-color);
                  margin-bottom: 5px;
                  line-height: 20px;
                }
                .product-name {
                  display: -webkit-box;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  font-size: 13px;
                  color: var(--small-text-color);
                  margin-bottom: 5px;
                  line-height: 20px;
                  cursor: pointer;
                  &:hover {
                    color: #0b74e5;
                  }
                }
                .product-dilivery {
                  display: flex;
                  align-items: center;
                  span {
                    font-size: 12px;
                    line-height: 18px;
                    font-weight: 400;
                  }
                  .delivery-img {
                    background-image: url("https://salt.tikicdn.com/cache/w96/ts/tka/65/be/89/d0c3208134f19e4bab8b50d81b41933a.png");
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 32px;
                    height: 16px;
                    margin-right: 5px;
                  }
                }
              }
            }
            .product-price {
              font-weight: 500;
              color: var(--small-text-color);
              font-size: 13px;
              display: inline-block;
              margin-right: 5px;
              span {
                text-decoration: line-through;
                color: rgb(153, 153, 153);
                display: inline-block;
                font-size: 11px;
              }
            }
            .product-amount {
              display: flex;
              flex-wrap: nowrap;
              border-radius: 3px;
              width: 84px;
              #quantity-decrease,
              #quantity-increase {
                display: inline-block;
                border-right: 1px solid rgb(200, 200, 200);
                color: rgb(153, 153, 153);
                cursor: pointer;
                width: 24px;
                height: 24px;
                border-top: 1px solid rgb(200, 200, 200);
                border-bottom: 1px solid rgb(200, 200, 200);
              }

              #quantity-decrease {
                border-left: 1px solid rgb(200, 200, 200);
              }
              #quantity-increase {
                border-right: 1px solid rgb(200, 200, 200);
              }
              .qty-input {
                border: none;
                background: transparent;
                width: 32px;
                text-align: center;
                font-size: 13px;
                appearance: none;
                margin: 0px;
                outline: none;
                border-top: 1px solid rgb(200, 200, 200);
                border-bottom: 1px solid rgb(200, 200, 200);
                border-right: 1px solid rgb(200, 200, 200);
              }
            }
            .product-total {
              color: rgb(255, 66, 78);
              font-size: 13px;
              font-weight: 500;
              line-height: 20px;
              display: block;
            }
            .deleteBtn {
              cursor: pointer;
            }
          }
        }
      }

      .right-content {
        width: 25%;
        display: flex;
        flex-direction: column;
        .promotion-area,
        .delivery-area {
          padding: 16px;
          background-color: white;
          margin-bottom: 12px;
          .delivery-text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            h3 {
              color: rgb(128, 128, 137);
              font-weight: normal;
              margin: 0px;
              color: #808089;
              font-size: 16.38px;
              line-height: 20px;
            }
            a {
              color: rgb(11, 116, 229);
              text-decoration: none;
              font-size: 14px;
              line-height: 20px;
            }
            .changeBtn {
              cursor: pointer;
            }
          }
          .delivery-address,
          .delivery-name {
            color: #38383d;
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
          }
          .delivery-name {
            margin-bottom: 2px;
          }
          .delivery-address {
            padding-bottom: 10px;
          }
        }
        .promotion-area {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          .promotion-text {
            display: flex;
            justify-content: space-between;
            margin-bottom: 32px;
            span {
              color: #242424;
              font-size: 13px;
              font-weight: 500;
              line-height: 20px;
              text-transform: capitalize;
            }
            .promotion-selection {
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: #787878;
              font-size: 13px;
              line-height: 20px;
              svg {
                margin-left: 4px;
              }
            }
          }
          .promotion-choose {
            display: flex;
            align-items: center;
            cursor: pointer;
            span {
              color: #0b74e5;
              font-size: 13px;
              line-height: 20px;
              font-weight: 500;
              margin-left: 8px;
            }
          }
        }
        .total-amount-area {
          background-color: white;
          padding-bottom: 8px;
          .total,
          .provisional {
            display: flex;
            justify-content: space-between;
            color: #333;
            font-size: 14px;
            line-height: 16.1px;
            text-align: left;
            padding: 17px 20px;
            border-bottom: 0.8px solid rgb(244, 244, 244);

            span {
              opacity: 0.8;
            }
            .price {
              font-size: 14px;
              line-height: 16.1px;
              text-align: left;
            }
          }
          .total {
            display: flex;
            justify-content: space-between;
            .total-price {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              span {
                color: hsl(0 0% 20%);
                font-size: 12px;
                font-weight: 300;
                line-height: 13.8px;
                margin: 3px 0px 0px;
                text-align: right;
              }
              .price-final {
                color: #fe3834;
                display: inline;
                font-size: 22px;
                line-height: 25.3px;
                text-align: right;
                font-weight: 400;
                span {
                  color: #fe3834;
                  font-size: 16px;
                  font-weight: 500;
                }
              }
            }
          }
          .freeship {
            display: flex;
            align-items: center;
            margin: 10px 16px 0;
            span {
              align-items: center;
              color: #38383d;
              display: flex;
              font-size: 14px;
              font-weight: 600;
              line-height: 16.1px;
              margin-left: 5px;
            }
          }
        }
        .btnBtn {
          margin-top: 15px;
          padding: 13px 10px;
          background-color: rgb(255, 66, 78);
          border-radius: 4px;
          text-align: center;
          border: none;
          width: 100%;
          display: block;
          cursor: pointer;
          font-size: 14px;
          color: rgb(244, 244, 244);
        }
      }
    }
  }
}
