.register-wrapper {
  display: flow-root;
  width: 100%;
  max-width: 1216px;
  margin: 0px auto;
  padding: 0px 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  .language-chooser-container {
    height: 70px;
    padding-top: 20px;
    position: relative;
    z-index: 10;
    .ant-select {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.85);
      font-size: 14px;
      font-variant: tabular-nums;
      line-height: 1.5715;
      list-style: none;
      font-feature-settings: "tnum";
      position: relative;
      display: inline-block;
      cursor: pointer;
      .ant-select-selector {
      }
    }
  }
  .register-form-section {
    display: flex;
    flex-flow: row wrap;
    .right-content,
    .left-content {
      position: relative;
      display: block;
      flex: 0 0 50%;
      width: 50%;
    }
    .left-content {
      .intro-wrapper {
        position: relative;
        z-index: 20;
        .intro-container {
          display: flex;
          flex-direction: column;
          .headline {
            display: flex;
            flex-direction: row;
            -webkit-box-align: baseline;
            align-items: baseline;
            font-size: 30px;
            line-height: 38px;
            font-weight: 600;
            img {
              width: 63px;
              height: 43px;
              margin-left: 10px;
              vertical-align: middle;
              border-style: none;
            }
          }
          .sub-headline {
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            .sc-hl {
              color: rgb(24, 144, 255);
            }
          }
          .photo-container {
            margin-top: 50px;
            position: relative;
            padding-top: calc(66.6667%);
            overflow: hidden;
            right: -40px;
            img {
              border-radius: 8px;
              position: absolute;
              top: 0px;
              left: 0px;
              width: 100%;
              height: 100%;
              object-fit: contain;
              vertical-align: middle;
              border-style: none;
              vertical-align: middle;
              border-style: none;
            }
          }
        }
      }
    }
    .right-content {
      padding-left: 118px;
      padding-bottom: 56px;
      .register-form-wrapper {
        background: rgb(245, 245, 250);
        .register-form-container {
          .register-headline {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
          }
          form {
            .input-area {
              margin-top: 16px;
              .input-label {
                font-weight: 700;
                font-size: 14px;
                line-height: 22px;
                margin-bottom: 4px;
                .sc-description {
                  color: rgb(89, 89, 89);
                  font-weight: normal;
                  span {
                    margin-left: 4px;
                    .anticon {
                      display: inline-block;
                      color: inherit;
                      font-style: normal;
                      line-height: 0;
                      text-align: center;
                      text-transform: none;
                      vertical-align: -0.125em;
                      text-rendering: optimizeLegibility;
                      -webkit-font-smoothing: antialiased;
                      svg {
                        display: inline-block;
                      }
                    }
                  }
                }
                .sc-tip {
                  margin-left: 4px;
                  .anticon {
                    display: inline-block;
                    color: inherit;
                    font-style: normal;
                    line-height: 0;
                    text-align: center;
                    text-transform: none;
                    vertical-align: -0.125em;
                    text-rendering: optimizeLegibility;
                    -webkit-font-smoothing: antialiased;
                    svg {
                      display: inline-block;
                    }
                  }
                }
              }
              .input-filed {
                height: 40px;
                background: rgb(255, 255, 255);
                border: 1px solid rgb(245, 34, 45);
                border-radius: 2px;
                padding: 0px 12px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                transition: all 200ms ease 0s;
                .input-typing {
                  touch-action: manipulation;
                  flex: 1 1 0%;
                  width: 0px;
                  height: 100%;
                  outline: none;
                  border: none;
                  font-size: 16px;
                  line-height: 24px;
                }

                .input-select {
                  width: 100%;
                  height: 100%;
                  border: none;
                  outline: none;
                }
              }
            }
            .signup-are {
              margin-top: 24px;
              button {
                width: 100%;
                color: #fff;
                border-color: #1890ff;
                background: #1890ff;
                text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
                box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
                height: 40px;
                padding: 6.4px 15px;
                font-size: 16px;
                border-radius: 2px;
                line-height: 1.5715;
                position: relative;
                display: inline-block;
                font-weight: 400;
                white-space: nowrap;
                text-align: center;
                cursor: pointer;
                transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
                user-select: none;
                touch-action: manipulation;
                border: 1px solid #d9d9d9;
              }
              .footer-singup {
                text-align: center;
                margin-top: 8px;
                a {
                  padding: 0px 0px 0px 6px;
                  padding-top: 0.01px;
                  line-height: 30px;
                  color: #1890ff;
                  border-color: transparent;
                  background: transparent;
                  box-shadow: none;
                }
              }
            }
          }
        }
      }
    }
  }
  .footer-container {
    margin: 56px 0px;
    overflow: hidden;
    .footer-content {
      display: flex;
      flex-flow: row wrap;
      .footer-col {
        position: relative;
        min-height: 1px;
        width: 30%;
        .footer-block {
          display: flex;
          flex-direction: column;
          .footer-illustration {
            width: 120px;
            height: 120px;
            background-size: cover;
            flex: 0 0 auto;
          }
          .footer-text {
            display: flex;
            flex-direction: column;
            .footer-title {
              font-weight: 600;
              font-size: 20px;
              line-height: 28px;
              margin: 20px 0px 12px;
            }
            .footer-des {
              margin-top: 12px;
              font-size: 14px;
              line-height: 22px;
              color: rgb(89, 89, 89);
              text-align: justify;
            }
          }
        }
      }
      //   .ant-col-md-8 {
      //     display: block;
      //     flex: 0 0 33.33333333%;
      //     max-width: 33.33333333%;
      //   }
    }
  }
}

.new-wrapper {
  background: #f0f2f5;
  text-align: center;
  font-size: 0;
  // background-image:
  background: none;
  display: grid;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  .welcomepage-container {
    row-gap: 0px;
    position: relative;
    padding: 32px 50px 50px;
    max-height: 100vh;
    overflow: auto;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    .welcomepage-decor {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 0px;
      background: rgb(250, 250, 250);
      z-index: -1;
    }
    .store-infor {
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      margin-bottom: 65px;
      .store-content {
        max-width: 1000px;
        form {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: rgba(0, 0, 0, 0.85);
          font-size: 14px;
          font-variant: tabular-nums;
          line-height: 1.5715;
          list-style: none;
          font-feature-settings: "tnum";
          .business-store-infor {
            display: flex;
            flex-direction: column;
            margin-bottom: 24px;
          }
          .name-infor {
            text-align: center;
            .ant-row {
              margin-left: -8px;
              margin-right: -8px;
              row-gap: 24px;
              display: flex;
              flex-flow: row wrap;
            }
          }
        }
      }
    }
    .action-container {
      font-size: 14px;
      left: 0px;
      transition: transform 200ms ease-in-out 0s;
      position: fixed;
      bottom: 0px;
      background-color: rgb(255, 255, 255);
      border-top: 1px solid rgb(232, 232, 232);
      z-index: 500;
      display: flex;
      padding: 16px 15px 32px;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      width: 100vw;
      transform: translateX(0px);
      min-height: 65px !important;
    }
  }
}
