.sales-history-wrapper {
  width: 100%;
  .sales-history-heading {
    font-size: 19px;
    line-height: 21px;
    font-weight: 300;
    margin: 20px 0px 15px;
  }
  .sales-history-nav {
    cursor: pointer;
    background: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: sticky;
    top: 0px;
    z-index: 10;
    .nav-item {
      width: 16.6667%;
      padding: 12px 0px;
      text-align: center;
      color: rgb(128, 128, 137);
      border-bottom: none;
    }
  }
  .search-orders {
    width: 100%;
    position: relative;
    margin: 12px 0px;
    .icon-left {
      color: rgb(128, 128, 137);
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
    }
    input {
      transition: border-color 0.15s ease-in-out 0s,
        box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
      height: 36px;
      width: 100%;
      border-radius: 4px;
      padding: 10px 12px;
      padding-left: 40px;
      line-height: 20px;
      outline: none;
      flex: 1 1 0%;
      border: 1px solid rgb(196, 196, 207);
    }

    .search-right {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: rgb(11, 116, 229);
      padding: 0px 6px 0px 16px;
      border-left: 2px solid rgb(221, 221, 227);
      cursor: pointer;
    }
  }
  .swipe-wrapper {
    .swipper-content {
      min-height: calc(100vh - 110px);

      float: left;
      width: 100%;
      position: relative;
      transition-property: transform;
      left: 0px;
      transition-duration: 300ms;
      transform: translate(0px, 0px) translateZ(0px);
      .swipper-section {
        background: rgb(255, 255, 255);
        border-radius: 4px;
        font-size: 13px;
        margin-bottom: 20px;
        padding: 16px;
        .swipper-heading {
          border-bottom: 1px solid rgb(235, 235, 240);
          padding-bottom: 12px;
          color: rgb(128, 128, 137);
          font-size: 14px;
          font-weight: 500;
          line-height: 20px;
          .main-status {
            border-bottom: 1px solid rgb(235, 235, 240);
            padding-bottom: 12px;
            color: rgb(128, 128, 137);
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            .status-icon {
              display: block;
              background: center center / 20px 20px no-repeat;
              width: 20px;
              height: 20px;
              float: left;
              margin: 0px 6px 0px 0px;
            }
          }
        }
        .swipper-product {
          cursor: pointer;
          .swipper-product-item {
            display: flex;
            flex-direction: row;
            padding: 16px 0px;
            border-bottom: 1px solid rgb(235, 235, 240);
            -webkit-box-pack: justify;
            justify-content: space-between;
            .detail {
              display: flex;
              .product-img {
                flex-shrink: 0;
                width: 80px;
                height: 80px;
                border-radius: 4px;
                border: 0.5px solid rgb(238, 238, 238);
                background-repeat: no-repeat;
                background-size: 90%;
                background-position: center center;
                position: relative;
                .quantity {
                  font-size: 12px;
                  line-height: 16px;
                  font-weight: 400;
                  color: rgb(128, 128, 137);
                  text-align: center;
                  position: absolute;
                  width: 28px;
                  height: 28px;
                  background-color: rgb(235, 235, 240);
                  display: flex;
                  -webkit-box-pack: center;
                  justify-content: center;
                  -webkit-box-align: center;
                  align-items: center;
                  right: 0px;
                  bottom: 0px;
                  border-top-left-radius: 10px;
                }
              }
              .product-info {
                margin: 0px 12px;
                display: flex;
                flex-direction: column;
                .product-name {
                  margin-bottom: 6px;
                }
                .store {
                  margin-top: 4px;
                  span {
                    color: rgb(128, 128, 137);
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 16px;
                  }
                  span::before {
                    content: "";
                    display: block;
                    background: url("https://frontend.tikicdn.com/_desktop-next/static/img/account/store.png")
                      center center / 16px 16px no-repeat;
                    width: 16px;
                    height: 16px;
                    float: left;
                    margin: 0px 6px 0px 0px;
                  }
                }
              }
            }
            .price {
              min-width: 120px;
              -webkit-box-pack: end;
              justify-content: flex-end;
              display: flex;
              span {
                color: rgb(56, 56, 61);
                font-size: 14px;
                font-weight: 400;
              }
            }
          }
          .btn-more {
            display: flex;
            -webkit-box-pack: start;
            justify-content: flex-start;
            -webkit-box-align: center;
            align-items: center;
            cursor: pointer;
            margin-top: 12px;
            p {
              padding: 6px 12px;
              border-radius: 4px;
              border: 1px solid rgb(221, 221, 227);
              font-size: 12px;
              font-weight: 400;
              color: rgb(100, 100, 109);
              line-height: 16px;
            }
          }
        }
        .product-amount {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 12px;
          width: 100%;
          .total-money {
            font-size: 17px;
            display: flex;
            margin-bottom: 12px;
            .title {
              font-weight: 300;
              color: rgb(128, 128, 137);
              margin-right: 8px;
            }
            .total {
              font-weight: 400;
              color: rgb(56, 56, 61);
            }
          }
          .button-group {
            display: flex;
            -webkit-box-pack: justify;
            justify-content: space-between;
            div {
              padding: 12px 8px;
              height: 36px;
              border-radius: 4px;
              border: 1px solid rgb(11, 116, 229);
              font-size: 14px;
              font-weight: 400;
              line-height: 1.4;
              color: rgb(11, 116, 229);
              display: flex;
              -webkit-box-pack: center;
              justify-content: center;
              -webkit-box-align: center;
              align-items: center;
              cursor: pointer;
              margin-left: 8px;
            }
          }
        }
      }
      .swipper-section-nonproduct {
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        background-color: rgb(255, 255, 255);
        width: 100%;
        padding: 35px;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}
