.order-detail-wrapper {
  font-size: 13px;
  color: rgb(36, 36, 36);
  line-height: 1.5;
  .heading {
    font-size: 19px;
    font-weight: 300;
    margin: 20px 0px 0px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    .split {
      margin: 0px 5px;
    }
    .status {
      font-weight: bolder;
    }
  }
  .created-date {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
  }
  .order-infor {
    display: flex;
    margin: 10px 0px 20px;
    gap: 10px;
    p {
      margin: 5px 0px 0px;
    }
    div:first-child {
      margin-left: 0px;
    }

    div {
      width: 33.3333%;
      //   margin: 0px 5px;
    }
    .order-address {
      margin: 10px 0px 20px;
      display: flex;
      flex-direction: column;
      color: rgba(0, 0, 0, 0.65);
      .title {
        width: 100%;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0px 0px 15px;
        color: rgb(36, 36, 36);
      }
      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        height: 100%;
        .name {
          text-transform: uppercase;
          color: rgb(36, 36, 36);
          font-weight: bold;
          p {
            margin: 5px 0px 0px;
          }
        }
        .phone,
        .address {
          span {
            color: rgb(74, 74, 74);
            font-weight: 300;
          }
        }
      }
    }
    .order-delivery {
      margin: 10px 0px 20px;
      display: flex;
      flex-direction: column;
      color: rgba(0, 0, 0, 0.65);
      .title {
        width: 100%;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0px 0px 15px;
        color: rgb(36, 36, 36);
      }
      .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 4px;
        height: 100%;
      }
    }
  }
  .order-products {
    width: 100%;
    color: rgb(66, 66, 66);
    display: table;
    font-size: 13px;
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border-collapse: collapse;
    border-spacing: 0px;
    line-height: 1.5;
    word-break: break-word;
    thead {
      display: table-header-group;
      tr {
        display: table-row;
        th:first-child {
          border-left: none;
        }
        th {
          display: table-cell;
          padding: 20px 15px;
          border-top: none;
          min-width: 100px;
          position: relative;
          background: 0px 0px;
          color: rgb(120, 120, 120);
          font-size: 15px;
          font-weight: 400;
          border-bottom: 1px solid rgb(244, 244, 244);
          text-align: left;
          &:first-child {
            border-left: none;
          }
          &:last-child {
            min-width: 160px;
            text-align: right;
          }
        }
      }
    }
    tbody {
      display: table-row-group;
      tr {
        &:first-child {
          border-top: none;
        }
        td {
          border: none;
          position: relative;
          display: table-cell;
          padding: 20px 15px;
          color: rgb(36, 36, 36);
          vertical-align: top;
          min-width: 100px;
          &:first-child {
            border-top: none;
            border-left: none;
          }
          &:last-child {
            min-width: 160px;
            text-align: right;
          }
          .product-item {
            display: flex;
            img {
              width: 60px;
              height: 60px;
              margin-right: 15px;
            }
            .product-info {
              text-align: justify;
              p {
                margin: 12px 0px 0px;
              }
              .product-name {
                font-size: 14px;
                color: rgb(36, 36, 36);
              }
              .product-seller {
                font-size: 11px;
                a {
                  color: rgb(11, 116, 229);
                  text-decoration: none;
                  background-color: transparent;
                }
              }
              .product-sku {
                margin: 12px 0px;
              }
              .product-review {
                a,
                span {
                  display: inline-block;
                  margin-right: 10px;
                  background: rgb(255, 255, 255);
                  border: 1px solid rgb(24, 158, 255);
                  font-size: 12px;
                  color: rgb(24, 158, 255);
                  padding: 5px 15px;
                  border-radius: 4px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .price {
          white-space: nowrap;
        }
        &:last-child {
          min-width: 160px;
        }
      }
    }
    tfoot {
      display: table-row-group;
      tr {
        border-top: none;
        display: table-row;
        &:first-child td {
          padding-top: 30px;
        }
        &:last-child td {
          padding-bottom: 30px;
        }
        td {
          text-align: right;
          display: table-cell;
          padding: 5px 20px;
          max-width: 550px;
          min-width: 125px;
          color: rgb(36, 36, 36);
          span {
            color: rgb(120, 120, 120);
            font-size: 14px;
          }
          .sum {
            color: rgb(255, 59, 39);
            font-size: 18px;
          }
          &:first-child {
            border-top: none;
          }
          .astra-summary {
            float: right;
            width: 35%;
          }
        }
      }
    }
  }
  .view-list-order {
    margin-bottom: 30px;
    margin-top: 20px;
    display: inline-block;
    border: 1px solid transparent;
    margin-right: 15px;
    cursor: pointer;
    color: rgb(11, 116, 229);
    text-decoration: none;
  }
}
