.container {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  .styled-account-layout {
    display: flex;
    width: 100%;
    margin: 0px auto 20px;
    flex-wrap: wrap;
    .account-styled-sidebar {
      width: 250px;
      margin-right: 17px;
      .account-styled-avatar {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        padding-left: 7px;
        margin: 0px 0px 12px;
        img {
          width: 45px;
          margin: 0px 12px 0px 0px;
          border-radius: 50%;
        }
        .info {
          flex: 1 1 0%;
          font-size: 13px;
          line-height: 15px;
          color: rgb(51, 51, 51);
          font-weight: 300;
          strong {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            display: block;
            margin: 4px 0px 0px;
          }
        }
      }
      .account-styled-navbar {
        margin: 0px;
        padding: 0px;
        list-style: none;
        font-size: 14px;
        li:hover {
          background-color: bisque;
        }
        a {
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          padding: 7px 18px;
          svg {
            width: 24px;
            height: 24px;
            margin: 0px 22px 0px 0px;
            font-size: 24px;
            color: rgb(155, 155, 155);
          }
          span {
            font-size: 14px;
            line-height: 20px;
            margin: 0px px 0px 0px 6px;
            color: rgb(56, 56, 61);
          }
        }
      }
    }
    .styled-account-layout-inner {
      flex: 1 1 0%;
      .styled-heading {
        font-size: 20px;
        line-height: 32px;
        font-weight: 300;
        margin: 4px 0px 12px;
      }
      .styled-info-page {
        .info {
          display: flex;
          flex-wrap: nowrap;
          -webkit-box-pack: justify;
          justify-content: space-between;
          background-color: rgb(255, 255, 255);
          border-radius: 8px;
          .info-left {
            width: 553px;
            padding: 16px 24px 16px 16px;
            .info-title {
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
              color: rgb(100, 100, 109);
            }
            .styled-account-info {
              background-color: rgb(255, 255, 255);
              border-radius: 4px;
              margin-top: 16px;
              .form-info {
                display: flex;
                flex-direction: row;
                .form-avatar {
                  margin-right: 16px;
                  .styled-avatar {
                    background-color: rgb(240, 248, 255);
                    border-radius: 50%;
                    width: 112px;
                    height: 112px;
                    border: 4px solid rgb(194, 225, 255);
                    position: relative;
                    -webkit-box-pack: center;
                    justify-content: center;
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    .avatar-view {
                      cursor: pointer;
                      display: flex;
                      -webkit-box-pack: center;
                      justify-content: center;
                      -webkit-box-align: center;
                      align-items: center;
                      img {
                        width: 50px;
                        height: 50px;
                      }
                      .edit {
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        background-color: rgb(100, 100, 109);
                        border-radius: 12px;
                        right: 3px;
                        bottom: 5px;
                        -webkit-box-align: center;
                        align-items: center;
                        -webkit-box-pack: center;
                        justify-content: center;
                        display: flex;
                        img {
                          width: 10px;
                          height: 10px;
                        }
                      }
                    }
                  }
                }
                .form-name {
                  width: 100%;
                  display: flex;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  flex-direction: column;
                  .form-control {
                    display: flex;
                    -webkit-box-align: center;
                    align-items: center;
                    margin: 0px 0px 34px;
                    .input-label {
                      width: 110px;
                      min-width: 110px;
                      font-size: 14px;
                      color: rgb(51, 51, 51);
                      margin-right: 16px;
                    }
                    div {
                      display: flex;
                      flex: 1 1 0%;
                      position: relative;
                      z-index: 1;
                      .styled-input {
                        width: 100%;
                        input {
                          transition: border-color 0.15s ease-in-out 0s,
                            box-shadow 0.15s ease-in-out 0s,
                            -webkit-box-shadow 0.15s ease-in-out 0s;
                          height: 36px;
                          width: 100%;
                          border-radius: 4px;
                          padding: 10px 12px;
                          line-height: 20px;
                          outline: none;
                          flex: 1 1 0%;
                          border: 1px solid rgb(196, 196, 207);
                        }
                      }
                    }
                  }
                }
              }
              .form-control {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                margin: 0px 0px 34px;
                .input-label {
                  width: 110px;
                  min-width: 110px;
                  font-size: 14px;
                  color: rgb(51, 51, 51);
                  margin-right: 16px;
                }
                div {
                  display: flex;
                  flex: 1 1 0%;
                  position: relative;
                  z-index: 1;
                  .styled-input {
                    padding-right: 35px;
                    .input-with-icon-right {
                      padding-right: 35px;
                      transition: border-color 0.15s ease-in-out 0s,
                        box-shadow 0.15s ease-in-out 0s,
                        -webkit-box-shadow 0.15s ease-in-out 0s;
                      height: 36px;
                      width: 100%;
                      border-radius: 4px;
                      padding: 10px 12px;
                      line-height: 20px;
                      outline: none;
                      flex: 1 1 0%;
                      border: 1px solid rgb(196, 196, 207);
                    }
                    .icon-right {
                      position: absolute;
                      right: 39px;
                      top: 55%;
                      transform: translateY(-50%);
                      width: 24px;
                    }
                  }
                }

                .styled-birthday-picker {
                  display: flex;
                  flex: 1 1 0%;
                  position: relative;
                  z-index: 1;
                  select {
                    font-size: 14px;
                    width: 100px;
                    border: 1px solid rgb(204, 204, 204);
                    height: 40px;
                    padding: 6px 12px;
                    line-height: 34px;
                    outline: none;
                    border-radius: 4px;
                    margin: 0px 12px 0px 0px;
                    background: 0px center;
                    box-shadow: none;
                    option {
                      font-weight: normal;
                      display: block;
                      min-height: 1.2em;
                      padding: 0px 2px 1px;
                      white-space: nowrap;
                    }
                  }
                }
                .styled-radio {
                  display: flex;
                  margin-right: 15px;
                  cursor: pointer;
                  input {
                    position: absolute;
                    height: 16px;
                    width: 16px;
                    margin-right: 10px;
                  }
                  .label {
                    display: inline-block;
                    font-size: 13px;
                    line-height: 20px;
                    margin-left: 20px;
                    -webkit-box-align: center;
                    align-items: center;
                  }
                }
                .btn-submit {
                  width: 176px;
                  border: 0px;

                  height: 40px;
                  border-radius: 4px;
                  color: rgb(255, 255, 255);
                  font-size: 14px;
                  background-color: rgb(11, 116, 229);
                  cursor: pointer;
                }
              }
            }
          }
          .info-vertical {
            border-left: 1px solid rgb(235, 235, 240);
            margin: 16px 0px;
          }
          .info-right {
            width: calc(100% - 553px);
            padding: 16px 16px 16px 24px;
            display: flex;
            flex-direction: column;
            .info-title {
              font-size: 16px;
              line-height: 24px;
              font-weight: 400;
              color: rgb(100, 100, 109);
            }
            .styled-list-item {
              background-color: rgb(255, 255, 255);
              border-radius: 4px;
              margin-bottom: 16px;
              .list-item {
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                -webkit-box-pack: justify;
                justify-content: space-between;
                padding: 19px 0px;
                .info {
                  display: flex;
                  flex-wrap: nowrap;
                  justify-content: space-between;
                  background-color: rgb(255, 255, 255);
                  border-radius: 8px;
                  .icon {
                    width: 24px;
                    height: 24px;
                    vertical-align: bottom;
                  }
                  .detail {
                    display: flex;
                    flex-direction: column;
                    span {
                      font-size: 14px;
                      line-height: 20px;
                      margin: 0px 0px 0px 6px;
                      color: rgb(56, 56, 61);
                    }
                  }
                  span {
                    font-size: 14px;
                    line-height: 20px;
                    margin: 0px 0px 0px 6px;
                    color: rgb(56, 56, 61);
                  }
                }
                .status {
                  color: rgb(27, 168, 255);
                  flex: 1 1 0%;
                  -webkit-box-pack: justify;
                  justify-content: space-between;
                  display: flex;
                  span {
                    cursor: pointer;
                  }
                  .button-active {
                    border: 1px solid rgb(11, 116, 229);
                    background-color: rgb(255, 255, 255);
                    height: 28px;
                    border-radius: 4px;
                    font-size: 14px;
                    cursor: pointer;
                    padding: 0px 12px;
                    color: rgb(11, 116, 229);
                  }
                }
              }
              .info-title {
                font-size: 16px;
                line-height: 24px;
                font-weight: 400;
                color: rgb(100, 100, 109);
              }
            }
          }
        }
      }
    }
  }
}
