.main-container {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  .header-wrapper {
    max-height: 155px;
    background-image: url(https://salt.tikicdn.com/ts/sellercenterFE/2d/24/dc/8b6b6c4….png);
    position: relative;
    background-size: cover;
    z-index: 1;
    margin-bottom: 10px;
    .header-seller {
      padding-left: 24px;
      padding-top: 24px;
      display: flex;
      max-height: 91px;
      -webkit-box-align: center;
      align-items: center;
      .header-logo {
        width: 64px;
        img {
          border-radius: 100%;
        }
      }
      .seller-name-wrapper {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        padding-left: 16px;
        .seller-name {
          color: rgb(255, 255, 255);
          line-height: 24px;
          font-size: 17px;
          font-weight: initial;
          margin: 0px;
        }
        .info-row {
          flex-direction: row;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          margin-right: 24px;
          img {
            height: 14px;
            width: 68px;
            margin-right: 8px;
          }
        }
        .badge-wrapper {
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          .header-badge-wrapper {
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .wrapper-follow {
              margin-right: 2px;
              margin-top: 4px;
            }
            .header-sub-info {
              font-size: 14px;
              color: rgba(255, 255, 255, 0.7);
              line-height: 20px;
            }
          }
          .header-line-row {
            width: 1px;
            height: 8px;
            margin-right: 8px;
            margin-left: 8px;
            background-color: rgba(255, 255, 255, 0.7);
          }
          .header-badge-wrapper {
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .wrapper-follow {
              margin-right: 2px;
              margin-top: 4px;
            }
            .header-sub-info {
              font-size: 14px;
              color: rgba(255, 255, 255, 0.7);
              line-height: 20px;
            }
          }
        }
      }
      .header-store-action-section {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        height: 32px;
        padding-left: 24px;
        margin-left: 24px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
      }
    }
    .header-menu-wrapper {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      .wrapper-tab-menu {
        display: flex;
        flex-wrap: nowrap;
        .wrapper-option {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          flex-direction: column;
          padding: 18px 0px;
          cursor: pointer;
          position: relative;
          width: 156px;
          text-align: center;
          .text-option {
            font-size: 13px;
            color: rgb(255, 255, 255);
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
            transition: font-weight 0.1s ease-in 0s;
          }
        }
      }
      .search-input-wrapper {
        width: 320px;
        margin-left: auto;
        margin-right: 24px;
        position: relative;
        .search-icon-wrapper {
          position: absolute;
          top: 8px;
          left: 14px;
        }
        .search-input {
          width: 100%;
          border: none;
          outline: none;
          border-radius: 4px;
          height: 36px;
          padding-left: 44px;
        }
      }
    }
    .overlay-background {
      position: absolute;
      inset: 0px;
      background-color: rgb(250, 183, 0);
      opacity: 0.5;
      pointer-events: none;
      z-index: -3;
    }
  }
  .producttab-row {
    display: flex;
    flex-direction: row;
    .sidebar-root {
      background: rgb(255, 255, 255);
      width: 210px;
      height: max-content;
      border-radius: 4px 0px 0px 4px;
      overflow: hidden;
      .block {
        .h4-title {
          margin: 0px 0px 0px 20px;
          line-height: 20px;
          display: block;
          color: rgb(36, 36, 36);
          font-size: 16px;
          padding: 18px 0px 10px;
          font-weight: 600;
        }
        .list-collapsed {
          .item-row {
            padding: 4px 25px 4px 20px;
            cursor: pointer;
            .item {
              font-size: 13px;
              color: rgb(36, 36, 36);
              padding: 5px 0px;
              line-height: 15px;
              display: block;
            }
          }
        }
        .toggler {
          font-size: 13px;
          font-weight: 500;
          text-align: center;
          display: flex;
          line-height: 25px;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: start;
          justify-content: flex-start;
          color: rgb(11, 116, 229);
          padding: 4px 25px 12px 20px;
        }
      }
    }
    .all-product-container {
      width: calc(100% - 210px);
      border-left: 1px solid rgb(245, 245, 250);
      overflow: hidden;
      .product-row-wrapper {
        padding-bottom: 12px;
        background-color: rgb(245, 245, 250);
        .widget-title {
          line-height: 28px;
          font-size: 20px;
          background: white;
          color: rgb(26, 15, 15);
          height: 48px;
          padding: 10px 41px 10px 16px;
          h2 {
            font-size: 20px;
            font-weight: 500;
            line-height: 28px;
            margin: 0px;
          }
        }
        .product-filter-and-sort-bar-wrapper {
          padding-right: 16px;
          background-color: rgb(255, 255, 255);
          .product-filter-and-sort-bar-sort-section {
            display: flex;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: start;
            justify-content: flex-start;
            .sort-item {
              padding: 8px 16px;
              font-size: 14px;
              font-weight: 400;
              line-height: 20px;
              cursor: pointer;
              text-decoration: none;
              border-radius: 4px;
              position: relative;
              // color: rgb(11, 116, 229);
            }
            .sort-item:hover {
              color: rgb(11, 116, 229);
            }
          }
          .product-filter-and-sort-bar-divider {
            border-bottom: 1px solid rgb(245, 245, 250);
            width: calc(100% + 32px);
            margin: 12px 0px 12px -16px;
            margin-top: 8px;
          }
        }
        .product-row-container {
          margin: -8px -4px 0px;
          background-color: rgb(245, 245, 250);
          display: flex;
          flex-wrap: wrap;
          .styled-wrapper {
            width: 20%;
            text-decoration: none;
            display: flex;
            position: relative;
            border: 1px solid transparent;
            cursor: pointer;
            height: auto;
            align-items: flex-start;
            .product-container {
              display: flex;
              width: 100%;
              color: rgb(36, 36, 36);
              margin: 4px;
              border-radius: 4px;
              background-color: rgb(255, 255, 255);
              flex-direction: column;
              -webkit-box-pack: justify;
              justify-content: space-between;
              .product-thumbnail {
                flex-shrink: 0;
                text-align: center;
                position: relative;
                margin-bottom: 12px;
                width: 100%;
                display: flex;
                .image-container {
                  width: 200px;
                  height: 200px;
                  img {
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: 4px;
                    border-top-left-radius: 4px;
                    object-fit: contain;
                    display: block;
                  }
                }
                .product-badge-ship {
                  position: absolute;
                  z-index: 2;
                  img {
                    width: 89px;
                    height: 20px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                  }
                }
              }
              .product-info {
                padding: 8px 12px;
                .product-name {
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                  word-break: break-word;
                  height: 32px;
                  h3 {
                    font-size: 12px;
                    font-weight: 400;
                    margin: 0px 0px 4px;
                    line-height: 16px;
                    color: rgb(56, 56, 61);
                  }
                }
                .product-container-rating {
                  flex-direction: row;
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  height: 18px;
                  margin-bottom: 4px;
                  .text-rating {
                    color: rgb(128, 128, 137);
                    font-size: 12px;
                    font-weight: 400;
                    margin-right: 2px;
                    margin-top: 2px;
                  }
                  .wrapper-follow {
                    margin-right: 2px;
                    width: 14px;
                    height: 14px;
                  }
                  .line-wrap {
                    background-color: rgb(235, 235, 240);
                    width: 1px;
                    height: 9px;
                    margin-left: 2px;
                    margin-right: 6px;
                    margin-top: 2px;
                  }
                  .percent {
                    font-size: 12px;
                    color: rgb(128, 128, 137);
                    line-height: 16px;
                    margin-top: 2px;
                  }
                }
                .product-price-discount {
                  display: flex;
                  -webkit-box-align: center;
                  align-items: center;
                  .price-discount-value {
                    font-size: 16px;
                    line-height: 22px;
                    font-weight: 600;
                    color: rgb(255, 66, 78);
                  }
                  .price-discount-percent {
                    padding: 0px 2px;
                    line-height: 16px;
                    font-size: 12px;
                    font-weight: 500;
                    margin-left: 4px;
                    color: rgb(255, 66, 78);
                    margin-top: 3px;
                  }
                  .discount-currency {
                    font-size: 10px;
                    line-height: 12px;
                    font-weight: 600;
                    margin-left: 3px;
                    color: rgb(255, 66, 78);
                  }
                }
                .product-benefit-wrapper {
                  height: 32px;
                  flex-direction: row;
                  -webkit-box-align: center;
                  align-items: center;
                  display: flex;
                  -webkit-box-pack: start;
                  justify-content: flex-start;
                }
                .badge-wrapper {
                  .line-badge-row {
                    background-color: rgb(235, 235, 240);
                    height: 1px;
                    width: 100%;
                    margin-bottom: 8px;
                  }
                  .badge-wrapper-text {
                    .ship-text {
                      color: rgb(128, 128, 137);
                      font-size: 12px;
                      line-height: 16px;
                      font-weight: 400;
                      text-align: left;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    div {
      .footer-view {
        padding: 16px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        margin-top: 12px;
        .view-more-button {
          width: 240px;
          height: 36px;
          padding: 8px 12px;
          border-radius: 4px;
          border: 1px solid rgb(11, 116, 229);
          background-color: rgb(255, 255, 255);
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          -webkit-box-pack: center;
          justify-content: center;
          font-size: 13px;
          font-weight: 500;
          line-height: 1.54;
          text-align: center;
          color: rgb(11, 116, 229);
          cursor: pointer;
        }
      }
    }
  }
}
