.main-container {
  width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  .header-wrapper {
    max-height: 155px;
    background-image: url(https://salt.tikicdn.com/ts/sellercenterFE/2d/24/dc/8b6b6c4….png);
    position: relative;
    background-size: cover;
    z-index: 1;
    margin-bottom: 10px;
    .header-seller {
      padding-left: 24px;
      padding-top: 24px;
      display: flex;
      max-height: 91px;
      -webkit-box-align: center;
      align-items: center;
      .header-logo {
        width: 64px;
        img {
          border-radius: 100%;
        }
      }
      .seller-name-wrapper {
        display: flex;
        flex-direction: column;
        -webkit-box-pack: center;
        justify-content: center;
        padding-left: 16px;
        .seller-name {
          color: rgb(255, 255, 255);
          line-height: 24px;
          font-size: 17px;
          font-weight: initial;
          margin: 0px;
        }
        .info-row {
          flex-direction: row;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
          margin-right: 24px;
          img {
            height: 14px;
            width: 68px;
            margin-right: 8px;
          }
        }
        .badge-wrapper {
          flex-direction: row;
          -webkit-box-align: center;
          align-items: center;
          display: flex;
          .header-badge-wrapper {
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .wrapper-follow {
              margin-right: 2px;
              margin-top: 4px;
            }
            .header-sub-info {
              font-size: 14px;
              color: rgba(255, 255, 255, 0.7);
              line-height: 20px;
            }
          }
          .header-line-row {
            width: 1px;
            height: 8px;
            margin-right: 8px;
            margin-left: 8px;
            background-color: rgba(255, 255, 255, 0.7);
          }
          .header-badge-wrapper {
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            .wrapper-follow {
              margin-right: 2px;
              margin-top: 4px;
            }
            .header-sub-info {
              font-size: 14px;
              color: rgba(255, 255, 255, 0.7);
              line-height: 20px;
            }
          }
        }
      }
      .header-store-action-section {
        border-left: 1px solid rgba(255, 255, 255, 0.2);
        height: 32px;
        padding-left: 24px;
        margin-left: 24px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
      }
    }
    .header-menu-wrapper {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      .wrapper-tab-menu {
        display: flex;
        flex-wrap: nowrap;
        .wrapper-option {
          display: flex;
          -webkit-box-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          align-items: center;
          flex-direction: column;
          padding: 18px 0px;
          cursor: pointer;
          position: relative;
          width: 156px;
          text-align: center;
          .text-option {
            font-size: 13px;
            color: rgb(255, 255, 255);
            line-height: 20px;
            text-align: center;
            text-transform: capitalize;
            font-weight: bold;
            transition: font-weight 0.1s ease-in 0s;
          }
        }
      }
      .search-input-wrapper {
        width: 320px;
        margin-left: auto;
        margin-right: 24px;
        position: relative;
        .search-icon-wrapper {
          position: absolute;
          top: 8px;
          left: 14px;
        }
        .search-input {
          width: 100%;
          border: none;
          outline: none;
          border-radius: 4px;
          height: 36px;
          padding-left: 44px;
        }
      }
    }
    .overlay-background {
      position: absolute;
      inset: 0px;
      background-color: rgb(250, 183, 0);
      opacity: 0.5;
      pointer-events: none;
      z-index: -3;
    }
  }
  .storeinfo-row {
    padding-left: 35px;
    border-left: 1px solid rgb(242, 242, 242);
    margin-top: 12px;
    padding: 12px 0px;
    border-radius: 8px;
    padding-left: 35px;
    width: 100%;
    border-left: 1px solid rgb(242, 242, 242);
    display: flex;
    flex-flow: wrap;
    background: white;
    margin-bottom: 20px;
    .storeinfo-col {
      display: flex;
      flex-flow: row;
      padding: 12px 12px 12px 0px;
      width: 100%;
      .info-label {
        font-size: 13px;
        color: rgb(120, 120, 120);
        margin-left: 5px;
        line-height: 20px;
        width: 160px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        img {
          max-width: 100%;
        }
        .info-label {
          font-size: 13px;
          color: rgb(120, 120, 120);
          margin-left: 5px;
          line-height: 20px;
          width: 160px;
          display: flex;
          -webkit-box-align: center;
          align-items: center;
        }
      }
      .info-value {
        font-size: 13px;
        color: rgb(36, 36, 36);
        line-height: 20px;
      }
    }
  }
}
